.wrapper.extrato__pendente {

	.tab-content  {
		padding: 30px;
	}

	.agradecimentos {
		background-color: #fbfaf5;
    	border: 1px solid #f4f0e4;
    	padding-top: 20px;
    	padding-bottom: 20px;
	}

	.agradecimentos p {
		margin: 0;
		padding-bottom: 15px;
	}

	.data-compra {
		margin-bottom : 15px;

	}

	.thumb-extrato{
		display: flex;

	}

	.thumb {
		margin-right: 15px;
	}

	.titulo-products {
		margin-right: 15px;
	}

	.preco {
		margin: 0;
	}

	.btn-tab-extratos {
		margin-top: 30px;

	}

	.engloba-itens {
		margin-top:100px;

		
		
	}

	.filtro {
		border-bottom: 0;
	}

//MODAL STYLES

	.modal-title {
		color: #fff;
	}


	.engloba-email {
		display: flex;
	}

	

	.engloba-email {
		display: flex;

		}

	.datahora {
		margin-left: 300px;
	}

	.text-email {
		margin-top: 30px;
	}

	.resp-email{
		margin-top: 30px;
	}

	.thumb-extrato-modal{
		display: flex;
		margin-top: 30px;
		padding-bottom: 15px;


	}

	.total-convertido {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #e4ebf1;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.termos-condicoes {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.condicoes-juridicas {
		text-align: left;
		padding-top: 20px;
	}

	.texto-endereco p {
		margin: 0;
	}

	.total-convertido-entrega {
		display: flex;
    	justify-content: flex-start;
		border-top: 1px solid #e4ebf1;
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.kart {
		margin-right: 20px;
	}

	

	.sua-reposta{
		padding-top: 40px;
	}


}