.wrapper.planejador2 {

	.tab-content  {
		padding: 30px;
	}

	.features-planejador {
		padding-top: 0;
	}

	

	.icon-check-list {
		margin-right: 20px;
	}

	

	.card-block li {
		list-style: none;
	}

	.card-block ul{
		padding-right: 10px !important;
	}

	.users {
    	table-layout: fixed;
	 	width: 100%;
	   
	}
	
	.users td {
	   
	    overflow: hidden;
	    text-overflow: ellipsis;
	}

	.users tr {
		border-bottom: 1px solid #e7e7e7;
	}

	.users p {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.users th {
		font-size: 16px;
	}

	.text-planejador {
		padding-bottom: 50px;
	}

	.caixa1 {
		padding: 15px;
	    text-align: center;
	    border: 1px solid #f4f0e4;
	   

	}

	h3.subtitle {
		
		color: #888;
	}

	.title-accordion {
		margin-left:10px;
		margin-top: 0;
		margin-bottom: 0;
		
	}

	.caixa2 {
		padding: 15px 15px 35px 15px;
	 	text-align: center;
	    border: 1px solid #f4f0e4;
	    
	   
	}

	.cxs {
		display: block;
	    margin: auto;
	    width: auto;
	}

	.cxs active:hover {
		borde: 2px solid #C99252;
		padding:0;
	}

	.imprimir {
		text-align: right;
	}

	.imprimir a {
		color: #d2a46f;
	}

	.engloba-caixas{
		display: flex;
    	align-items: flex-end;
	}

	#exTab2 {
		background-color: #fbfaf5;
		border: 1px solid #f4f0e4;
		margin-top: 25px;
		padding-bottom: 34px;

	}

	.card-header {
		background-color: #fafbf5;
		border-bottom: 1px solid #f4f0e4;
   		padding-bottom: 10px;
   		display: flex;
	}

	.card-header h3{
		color: #c99252;
	}

	.card-block {
		padding: 15px;
	}

	.img-accordion {
		margin-right: 15px;
	}

	.features-planejador .title-accordion {
		color: #fff;
	}

	/** Seta para BAIXO  **/
		.seta-baixo:before {
		  content: "";
		  display: inline-block;
		  vertical-align: middle;
		  margin-left: 899px;
		  width: 18px; 
		  height: 18px; 

		  border-left: 9px solid transparent;
		  border-right: 9px solid transparent;
		  border-top: 9px solid #f00;
	}

	
	.ativo-background {
		background-color: #fbfaf5;
		border-color: #f4f0e4;

		h3 {
			color: #c99252;
		}

		.trocaimg {
			content: url('../images/icon-check-list.gif');
			width: 38px;
			height: 39px;
			display: block;
			margin: auto;
		}

		.trocaimg2 {
			content: url('../images/icon-agenda-noivos-cor.gif');
			width: 35px;
			height: 41px;
			display: block;
			margin: auto;
		}
	}

	



	@media only screen and (max-width : 320px) {
			.users th {
				font-size: 14px;
			}

			.users p {
				font-size: 12px;
			}

			.cxs p {
				font-size: 13px;
			}

			.caixa1 {
			
			    text-align: center;
			    border: 1px solid;
			    width:auto;
			    margin: auto;

			}

			.caixa2 {
				padding-bottom: 15px!important;
				
			}

			.caixa2 p {
				font-size: 13px;
			}

			.caixa1 p {
				font-size: 13px;
			}
		
	}

	@media only screen and (max-width : 375px) {
		.caixa2 {
			padding-bottom: 31px;
		}

		.caixa2 p {
				font-size: 13px;
			}

			.caixa1 p {
				font-size: 13px;
			}

		


	}

	


	

	
 
}