.wrapper.save-the-date{

	.engloba-noiva{
		margin-bottom: 35px;
		background: #fbfaf5;
    	border: 1px solid #f4f0e4;
	}

	.engloba-noiva img {
		padding: 15px;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	}

	.texto-save {
		text-align: center;
	}		
 
}